body{
    background-color: whitesmoke;
}

:root {
    --color-red: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --text-color: hsl(0, 0%, 35%);
    --color-gris: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --font-medium: 500;
    --font-bold: 700;
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
}
h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}
header{
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    margin-right: 10px;
    height: 40px;
}
.inp{
    display: none;
}

.checkbtn{
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.nav-limk{
    padding: 100px;
}
.menu, .menu2{
    z-index: 5;
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    padding: 56px 32px;
}
.inp:checked + .menu, .inp:checked + .menu2{
    clip-path: circle(100% at center);
}

.home{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.img1{
    width: 70%;
    height: 400px;
    background-color: var(--color-red);
    grid-column: 1;
    object-fit: contain;
}
.parrafos{
    margin: 15px;
}
.precio{
    color: var(--color-red);
}
/* two botones*/
.two{
    display: flex;
    justify-content: center;
}
.twogris1{
    color: #fff;
    background-color: var(--color-gris);
    padding: 15px 20px;
}
.twogris2{
    color: #fff;
    background-color: var(--button-color);
    padding: 20px 20px;
}
.category{
    margin: 30px;
    display:flex;
    justify-content: center;
}
.category-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}
.lista{
    text-align: center;
}
.stock, .name{
    font-size: .8em;
}
.stock{
    color: var(--text-color);
}
.inventario{
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    max-width: fit-content;
    gap: 1em;
}
.ropa{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ropa-imagen img{
    width: 100%;
    width: 200px;
    height: 150px;
    object-fit: contain;
    background-color: var(--color-gris);
}
.ropa-imagen2 img{
    height: 100px;
    object-fit: contain;
}
.menu-carrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.ropa2{
    display: flex;
    align-items: center;
    background-color: var(--color-gris);
    
    flex-direction: row;
    flex-wrap: wrap;
    height: 150px;
    width: 250px;
    margin-top: 30px;
}
.texto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.end{
    background-color: var(--color-gris);
    padding: 60px 15px;
}


@media (min-width: 820px){
    .otro{
        display: none;
    }
    .logo{
        display: flex;
        align-items: flex-start;
    }
    .logo img{
        margin-right: 10px;
        height: 50x;
    }
   
    .nav-limk{
        display: flex;
        color: black;
        position: fixed;
    }
    .img1{
        width: 40%;
        height: 400px;
        background-color: var(--color-red);
        grid-column: 1;
        object-fit: contain;
    }
    .home{
        flex-wrap: nowrap;
        align-items: center;
    }
    .inventario{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px auto;
    }
    .ropa2{
        margin-right: auto;
        margin-top: 100px;
    }
    .menu-carrito {
        z-index: 5;
        right: 0;
        position: fixed;
    }
    .menu2{
        z-index: 5;
        position: fixed;
        background-color: whitesmoke;
        width: 100%;
        top: 0;
        left: 70%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        padding: 56px 32px;
    }
    .inp:checked + .menu2{
        clip-path: circle(100% at center);
    }
    /*Categorias*/
    .category-grid{
        display: flex;
        justify-content: space-between;
    }
    .category{
        margin: 30px;
        display:flex;
        justify-content: center;
    }
    /*final*/
    .end{
        display: flex;
        justify-content: space-around;
    }
}